server:
  port: 8080
  servlet:
    context-path: /

#本地磁盘缓存位置
resources_path: ./src/main/resources/static/newloading/img/

spring:
  datasource:
    username: root
    password: qja18344981008
#    password: 123456
    url: jdbc:mysql://localhost:3306/shopping?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC
#    url: jdbc:mysql://39.97.178.217:3306/shopping?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
#  resources:
#    static-locations: classpath:/META-INF/resources/,classpath:/resources/,\
#      classpath:/static/,classpath:/public/,file:${resources_path}
mybatis:
  config-location: classpath:mybatis-config.xml
  mapper-locations: classpath:mybatis/*.xml
